.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

img{
  display: block;
  max-width: 500px;
  width: auto;
  height: auto;
}

section{
  display: flex;
  justify-content: center;
}

body{
  position: relative;
  min-height: 100vh;
}

main{
  padding-bottom: 2.5rem; 
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}